@import "tailwindcss";
/* ===============================
   Hide scrollbar (keep scrolling)
   =============================== */

body {
  -ms-overflow-style: none;   /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}

::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}
